.nevada {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.listings {
  position: relative;
  font-size: var(--components-input-text-size);
  line-height: 24px;
  text-align: center;
}
.card5,
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 16px;
  flex-direction: column;
  gap: var(--gap-2xs);
  z-index: 0;
}
.card5 {
  flex: 1;
  border-radius: var(--br-5xs);
  height: 241px;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
  background-image: url(/public/card-5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--heading-heading-4-size);
  color: var(--gray-white);
  font-family: var(--body-large-400);
}
@media screen and (max-width: 1200px) {
  .card5 {
    flex: unset;
    align-self: stretch;
  }
}
