.properties1 {
  position: relative;
  line-height: 72px;
  font-weight: 600;
}
.properties2 {
  font-weight: 500;
  color: var(--gray-white);
}
.homePropertiesContainer {
  position: relative;
  font-size: var(--components-input-text-size);
  line-height: 24px;
  color: var(--color-whitesmoke-200);
  font-family: var(--body-large-400);
}
.category,
.properties {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.properties {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.category {
  align-self: stretch;
  height: 240px;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: center;
  background-image: url(/public/category@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.listbulletsIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text {
  position: relative;
  line-height: 24px;
}
.container,
.sortBy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sortBy {
  align-items: flex-end;
  gap: var(--gap-base);
}
.container {
  width: 272px;
  align-items: center;
  color: var(--gray-black);
}
.userChild {
  position: relative;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  object-fit: cover;
}
.jennyWilson {
  position: relative;
  line-height: 25.7px;
  font-weight: 500;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8.57px;
}
.sharenetworkIcon {
  position: relative;
  width: 21.41px;
  height: 21.41px;
  flex-shrink: 0;
}
.share {
  border-radius: 2.14px;
  background-color: var(--primary-50);
  padding: 4.2828288078308105px;
  align-items: flex-start;
  justify-content: flex-start;
}
.ctas,
.share,
.topSection {
  display: flex;
  flex-direction: row;
}
.ctas {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.85px;
}
.topSection {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.alliumPlaceOrlando {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-heading-4-size);
  line-height: 32px;
  font-weight: 600;
  color: var(--primary-500);
}
.vestibulumAnteIpsum {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.readmore {
  font-weight: 600;
  color: var(--primary-500);
}
.description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--components-input-text-size);
  color: var(--color-lightslategray);
}
.div {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 44px;
  font-weight: 600;
  color: var(--primary-500);
}
.text1 {
  width: 536px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.imageIcon {
  flex: 1;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-118xl);
}
.backArrow,
.card1,
.cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cards {
  width: 1433px;
  flex-direction: column;
  max-width: 95%;
  font-size: 17.13px;
}
.backArrow {
  border-radius: var(--br-9xs);
  background-color: var(--primary-50);
  flex-direction: row;
  padding: var(--padding-3xs);
}
.div3 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 26px;
}
.div2,
.div4,
.forwardArrow {
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div2 {
  background-color: var(--primary-500);
  color: var(--gray-white);
}
.div4,
.forwardArrow {
  background-color: var(--primary-50);
}
.forwardArrow {
  border-radius: var(--br-9xs);
  background-color: var(--primary-500);
  flex-direction: row;
  padding: var(--padding-3xs);
}
.contents,
.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--primary-500);
}
.contents {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-11xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-76xl);
  text-align: left;
  font-size: var(--components-input-text-size);
  color: var(--gray-700);
  font-family: var(--body-large-400);
}
.houselineIcon {
  position: relative;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}
.realState,
.reis {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.realState {
  font-size: var(--body-small-400-size);
  line-height: 16px;
  font-weight: 500;
}
.logo,
.reisParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.contactUs1 {
  position: relative;
  font-size: var(--heading-heading-4-size);
  line-height: 32px;
  font-weight: 600;
  color: var(--gray-black);
}
.praesentNullaMassa {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  width: 312px;
}
.emailExamplemailcom {
  position: relative;
  line-height: 24px;
  color: var(--gray-700);
}
.contactDetails {
  align-self: stretch;
  height: 168px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  text-align: left;
  font-size: var(--components-input-text-size);
  color: var(--gray-500);
  font-family: var(--body-regular-400);
}
.socialMediaLogo {
  position: relative;
  width: 20px;
  height: 21.67px;
  flex-shrink: 0;
}
.socialMediaCard {
  border-radius: var(--br-9xs);
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: center;
}
.socialMediaLogo1 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.socialMedia {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contactUs {
  width: 312px;
  height: 300px;
  gap: var(--gap-xl);
  text-align: center;
  color: var(--primary-500);
  font-family: var(--body-large-400);
}
.contactUs,
.features,
.featuresSubCategories {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.featuresSubCategories {
  align-self: stretch;
  height: 184px;
  gap: var(--gap-base);
  font-size: var(--components-input-text-size);
  color: var(--gray-500);
}
.features {
  width: 173px;
  height: 248px;
  gap: var(--gap-13xl);
}
.teamAndPolicies {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.termsAndPoliciesSubcategori {
  align-self: stretch;
  height: 104px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--components-input-text-size);
  color: var(--gray-500);
}
.footer,
.termsAndPolicies,
.termsAndPoliciesSubcategori {
  display: flex;
  align-items: flex-start;
}
.termsAndPolicies {
  width: 203px;
  height: 168px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.footer {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-size: var(--heading-heading-4-size);
  color: var(--gray-black);
  font-family: var(--body-regular-400);
}
.footerSection,
.propertiesListView {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerSection {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-31xl);
}
.propertiesListView {
  position: relative;
  background-color: var(--gray-white);
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-size: var(--display-size);
  color: var(--gray-white);
  font-family: var(--body-regular-400);
}
@media screen and (max-width: 1200px) {
  .text1 {
    width: 100%;
  }
  .imageIcon {
    flex: unset;
    align-self: stretch;
  }
  .card1 {
    flex-direction: column;
  }
  .contents {
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-101xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .card1 {
    gap: var(--gap-3xs);
  }
  .contents {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .footer {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
  .footerSection {
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-0);
  }
}
@media screen and (max-width: 420px) {
  .contents {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-31xl);
    flex: unset;
    align-self: stretch;
  }
  .footer,
  .footerSection {
    flex-direction: column;
  }
}
